h1{
  font-size: 50px;
  text-align: center;
  margin-left: 70px;
}
a{
  text-decoration: none;
  vertical-align: middle;

  color:#121013;
  border-radius: 3px;
  text-align:center;
  font-size:55px;
  padding: auto;

}
a:hover{
  text-decoration:none;
  background-color:#1687a7;
  color:#23120b;
 font-size: 30px;
  text-align: center;
  text-decoration:underline;

  padding: auto;

}
#body{
  background-image: radial-gradient(#f4f9f9,#ccf2f4,#a4ebf3);
}





#home{
  column-count:2;
}
#branchlist{
  margin: auto;
  width: auto;
  text-align: center;

}
p{
  font-size: 100px;
}
#homeheading{
  margin-bottom: auto;
  margin-left: auto;
  margin-right:auto;
  margin-top: auto;
  background-color: #0f1123;

}
#clg-name{
  padding:50px 0 0 0 ;
}
#logo{
  margin-left: auto;
  margin-right: auto;
  display:block;
  background-color: #0f1123;
  align-items: center;


}
#branches{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;margin-bottom: auto;
  padding-left: 20px;
  text-align: center;
  background-image: radial-gradient(#f4f9f9,#ccf2f4,#a4ebf3);
  height:100%;
  width:100%;


}
#top{
  background-color: #0f1123;
  margin: auto;
  width: 100px;
  align-items: center;
  margin-left: 700px;
}
